<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.masilotti.templates.turbonative.base</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>NameOfInitialFileForEditor</key>
	<string>TurboNavigationController.swift</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.iosApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_VERSION</key>
				<string>5.0</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1</string>
				<key>SDKROOT</key>
				<string>iphoneos</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>latest_iphoneos</string>
				<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
				<string>UIInterfaceOrientationPortrait</string>
				<key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
				<string>YES</string>
				<key>INFOPLIST_KEY_UILaunchStoryboardName</key>
				<string>LaunchScreen</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Configuration/Info.plist</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Configuration/Info.plist</string>
		<string>Controllers/TurboNavigationController.swift</string>
		<string>Delegates/AppDelegate.swift</string>
		<string>Delegates/SceneDelegate.swift</string>
		<string>Resources/Base.lproj/LaunchScreen.storyboard</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Configuration/Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Configuration/Info.plist</string>
			<key>Group</key>
			<string>Configuration</string>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>Controllers/TurboNavigationController.swift</key>
		<dict>
			<key>Path</key>
			<string>Controllers/TurboNavigationController.swift</string>
			<key>Group</key>
			<string>Controllers</string>
		</dict>
		<key>Delegates/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Delegates/AppDelegate.swift</string>
			<key>Group</key>
			<string>Delegates</string>
		</dict>
		<key>Delegates/SceneDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Delegates/SceneDelegate.swift</string>
			<key>Group</key>
			<string>Delegates</string>
		</dict>
		<key>Resources/Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Resources/LaunchScreen.storyboard</string>
			<key>Group</key>
			<string>Resources</string>
		</dict>
	</dict>
	<key>Dependencies</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://github.com/MihaelIsaev/UIKitPlus</string>
			<key>Requirement</key>
			<dict>
				<key>Kind</key>
				<string>upToNextMajorVersion</string>
				<key>MinimumVersion</key>
				<string>1.18.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
